.page {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: calc(var(--inset-top) * 1.5 + 12px);
  gap: 40px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99990;
  overflow: hidden;
}

.status-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  width: auto;
  gap: 5px;
  height: 3px;
  align-self: stretch;
}

.status-bar-element {
  display: flex;
  width: auto;
  height: 3px;
  background: rgb(255 255 255 / 40%);
  border-radius: 100px;
  flex-grow: 1;
}

.status-bar-element.active {
  background: #fff;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  padding-bottom: calc(var(--inset-top) * 1.8 + var(--tab-bar-height) * 0.5);
  width: auto;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 36px;
  margin: 0 auto;
  font-family: "Inter";
  font-style: normal;
  color: #fff;
}

.text-header {
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
}

.text-bottom {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.gif-buttons-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 70px;
  width: 100%;
  margin: 0 auto;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  width: 110px;
  height: 35px;
  border-radius: 1000px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  pointer-events: auto;
}

.button.skip {
  background: rgb(0 0 0 / 30%);
  color: #fff;
}

.button.next {
  background: #fff;
  color: #000;
}
