body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/*Заголовок страницы*/
.profile-header {
  display: flex;
  position: fixed;

  background-color: #1468b1;
  color: #fff;
  height: 38px;
  width: 100%;
  padding: 5px;
  font: 600 22px/1 Inter, sans-serif;
  letter-spacing: 0.07px;
  text-align: center;
  justify-content: center;
  top: 0;
}

.profile-title {
  position: fixed;

  /* align-self: stretch;
  text-align: center; */
  padding-bottom: 6px;
  animation: ani 0.4s forwards;
  text-rendering: optimizeSpeed;
}
/*Главный экран прокрутки*/
.main-block {
  display: flex;
  position: relative;
  margin-top: 38px;
  margin-bottom: 82px;
  width: 100%;
  flex-grow: 1;
  text-align: center;
  align-items: center;
  /* justify-content: center; */
  background-color: #efeff4;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
}
/*Профиль*/
.profile-first-block {
  position: relative;
  box-sizing: border-box;

  animation: ani 0.4s forwards;
  display: flex;
  flex-direction: row;

  top: 0;
  margin-top: 10px;
  width: 97%;
  /* min-width: 370px; */
  height: 144px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.profile-logo {
  display: flex;
  position: fixed;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #df3f40;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.profile-logo-name {
  font: 600 60px/1 Inter, sans-serif;
  letter-spacing: 0.066px;
  color: #ffffff;
}

.profile-userid {
  position: absolute;
  width: 100px;
  height: 15px;
  font: 400 10px/1 Inter, sans-serif;
  line-height: 15px;
  letter-spacing: -0.43px;
  align-self: flex-end;
  margin-bottom: 10px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.41);
}

.profile-nickname {
  /* display: flex; */
  flex-direction: column;
  /* justify-content: left; */
  text-align: left;

  width: 100%;
  height: 15px;
  margin-top: 28px;
  margin-left: 130px;
  font: 700 30px/1 Inter, sans-serif;
  font-style: normal;
  line-height: 15px;
  letter-spacing: -0.43px;

  color: #000000;
}

.profile-balance-info-block {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  margin-top: 65px;
  margin-left: 130px;
  width: fit-content;
  height: 32px;
}

.profile-balance-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 8px;
  justify-content: space-between;

  width: fit-content;
  height: 32px;

  background: rgba(20, 104, 177, 0.15);
  border-radius: 8px;
}

.profile-balance-block-text {
  margin-top: 2px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  align-items: center;

  color: #1468b1;
}

.profile-balance-block-logo {
  width: 20px;
  height: 20px;

  margin-left: 3px;
  background-size: cover;
  background-image: url(icons/logo-token.png);
  border-radius: 22px;
}

.profile-balance-block-info {
  display: flex;
  /* position: relative;
  display: inline-block;
  cursor: pointer; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
  margin-left: 8px;
  width: 30px;
  height: 32px;

  background: rgba(20, 104, 177, 0.15);
  border-radius: 8px;
}
/*Кнопки снизу*/
.tab-bar {
  display: flex;
  position: fixed;
  height: 70px;
  justify-content: stretch;
  padding-top: 12px;
  background-color: #1468b1;
  align-items: flex-start;
  left: 0;
  bottom: 0;
  width: 100%;
}

.tab-item {
  display: flex;
  flex: 1 1 0;

  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  justify-content: center;

  color: #9bb1c5;
  object-fit: contain;
  object-position: center;
}

.tab-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 28px;
}

.tab-label {
  /* color: #9bb1c5; */
  font: 500 10px/1.3 Roboto, sans-serif;
  letter-spacing: 0.06px;
  margin-top: 2px;
}

.tab-item.tab-item-active {
  animation: tabcolor 0.2s forwards;
  pointer-events: none;
  cursor: default;
}
/*Каталог*/
.courses-block {
  /* position: relative;
  box-sizing: border-box; */

  animation: ani 0.4s forwards;
  display: flex;
  /* flex-direction: row; */

  top: 0;
  margin-top: 10px;
  width: 97%;
  min-height: 120px;

  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  text-decoration: none;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.courses-logo {
  display: flex;
  /* position: fixed; */
  min-width: 100px;
  height: 100px;
  margin: 10px;
  /* margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 15px; */

  /* background-image: url("./icons/logo_cuna.jpg"); */
  background-size: cover;
  border-radius: 15px;
}

.courses-block-text {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  margin-right: 10px;

  width: 100%;
  height: 100px;

  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.courses-block-name {
  width: 100%;
  height: 15px;
  top: 0;
  font: 700 14px/1 Inter, sans-serif;
  text-align: left;
  font-style: normal;
  line-height: 15px;
  letter-spacing: -0.43px;

  /* -webkit-tap-highlight-color: transparent;
  text-decoration: none; */
  text-decoration: none;
  color: #000000;
}

.courses-block-description {
  /* display: flex; */
  width: 100%;
  height: auto;
  font: 400 12px/1 Inter, sans-serif;
  font-style: normal;
  line-height: 14px;
  text-align: left;

  /* -webkit-tap-highlight-color: transparent;
  text-decoration: none; */
  text-decoration: none;
  -webkit-line-clamp: 4; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #a6a6a6;
}

.courses-block-author-rating {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 13px;
  bottom: 0px;
}

.courses-block-author {
  margin-right: auto;
  height: 100%;

  font: 400 10px/1 Inter, sans-serif;
  font-style: normal;
  line-height: 11px;
  letter-spacing: -0.43px;

  color: #a6a6a6;
}

.courses-block-rating {
  height: 100%;

  font: 400 12px/1 Inter, sans-serif;
  font-style: normal;
  line-height: 15px;

  color: #a6a6a6;
}

.courses-block-rating-star {
  margin-left: 2px;
}
/*Избранные курсы*/
.favorite-courses-enable {
  position: relative;
  box-sizing: border-box;

  opacity: 0;
  animation: ani 0.4s forwards;

  display: flex;
  flex-direction: column;

  align-self: center;
  justify-content: center;
  align-items: center;
  /* padding: 0px;
  gap: 10px; */
  margin: auto;

  width: 60%;
  min-width: 250px;
  height: 97px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.favorite-courses-enable-title {
  width: 100%;
  height: 22px;
  margin-bottom: 8px;

  font: 600 17px/1 "Inter", sans-serif;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0.4px;

  color: #000000;
}

.favorite-courses-enable-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* gap: 13px; */
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  text-decoration: none;
  width: 85%;
  min-width: 210px;
  height: 50px;

  background: #1468b1;
  border-radius: 15px;
}

.favorite-courses-enable-button-text {
  /* display: flex; */
  width: auto;
  height: 22px;
  margin-right: auto;
  margin-left: 23px;

  font: 510 17px/1 Inter, sans-serif;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0.4px;
  text-decoration: none;

  color: #ffffff;
}

.favorite-courses-enable-button-icon {
  margin-left: auto;
  margin-right: 20px;
}
/*Анимации*/
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aniHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes tabcolor {
  0% {
    color: #9bb1c5;
  }
  100% {
    color: #fff;
  }
}
/*Стили курса*/
.course-block {
  /* position: relative;
  box-sizing: border-box; */

  animation: ani 0.4s forwards;
  display: flex;
  /* flex-direction: row; */

  margin-top: 10px;
  width: 97%;
  height: auto;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.course-logo {
  /* display: flex; */
  /* min-width: 100px; */
  height: 100px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 15px;

  float: left;

  /* background-image: url("./icons/logo_cuna.jpg"); */
  background-size: cover;
  border-radius: 15px;
}

.course-block-author {
  /* display: flex; */
  position: absolute;
  width: 120px;
  /* height: 13px; */
  margin-top: 105px;

  font: 400 10px/1 Inter, sans-serif;
  font-style: normal;
  line-height: 11px;
  letter-spacing: -0.43px;

  color: #a6a6a6;
}

.course-block-text {
  /* display: flex; */
  /* position: relative; */
  /* flex-direction: column; */
  gap: 5px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;

  width: 100%;
  height: auto;
}

.course-block-name {
  width: 100%;
  height: 15px;
  top: 0;
  font: 700 14px/1 Inter, sans-serif;
  text-align: left;
  font-style: normal;
  line-height: 15px;
  letter-spacing: -0.43px;

  color: #000000;
}

.course-block-description {
  /* display: flex; */
  width: 100%;
  margin-left: 10px;
  height: auto;
  font: 400 12px/1 Inter, sans-serif;
  font-style: normal;
  line-height: 14px;
  text-align: left;

  overflow: hidden;
  color: #a6a6a6;
}
/*Отключение отображения прокрутки*/
::-webkit-scrollbar {
  width: 0;
}

.popup {
  display: none;
  animation: ani 0.2s forwards;
  position: absolute;
  /* top: 30%;
  left: 40%; */
  /* transform: translate(-50%, -50%); */

  /* margin-bottom: 90px; */

  left: 124px;

  width: fit-content;
  height: 50px;
  background: rgba(20, 104, 177, 0.15);
  border-radius: 8px;

}

.popup-text{
  width: 150px;
  margin: 10px;
  font: 400 12px/1 Inter, sans-serif;
  font-style: normal;
  color: #1468b1;
}

.hide-popup {
  animation: aniHide 0.2s forwards;
}
